@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html {
  height: 100%;
}
.body {
  height: 100%;
  font-family: "Lato", sans-serif;
  background: linear-gradient(rgb(20, 33, 46) 10%, hsl(211, 33%, 44%));
  margin: 0;
}
/* initButton */
.changeTheDifficultyTextBox{
  width: 100%;
  height: max-content;
  display: flex;
  position: absolute;
  bottom: 70%;
  font-size: 30px;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 2px;
  justify-content: center;

}
.boxFromButton{
  width: 100%;
  height: max-content;
  display: flex;
  position:absolute;
  bottom: 50%;
  justify-content: center;
}
.buttonOfRemove{
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  height: max-content;
  width: max-content;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 2px;
  transition: 0.3s;
  opacity: .6;
}
.buttonOfRemove:hover{
  background-color: rgb(245, 245, 245);
  color: black;
}
.buttonOfRemove:active{
  background-color:rgb(51, 69, 128);
  transition:0s;
}
.initButton {
  box-sizing: border-box;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  background-color: rgb(20, 33, 46);
  transition: 0.5s;
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-left: 10px;
  
}
.initButton:hover {
  background-color: rgb(51, 69, 128);
}
.microBoxOfButton {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
}
.microBoxOfButton:hover{
  background-color: rgb(255, 255, 255);
}
.scoreBoard {
  height: 50px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: auto;
  margin-top: 50px;
}
.scoreOfPlayer1 {
  width: 50%;
  height: 100%;
  /* background-color: rgb(240, 84, 84); */
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  font-size: 40px;
  color: rgb(18, 18, 18);
}
.scoreOfPlayer2 {
  width: 50%;
  height: 100%;
  background-color: rgb(28, 39, 54);
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
}
span {
}
.globalContainer {
  width: max-content;
  height: max-content;
  margin: auto;
  perspective: 600px;
}
.container {
  transform: rotateX(45deg);
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: transparent;
  transition: 2s;
}
.containerRotate {
  transform: rotateZ(180deg) rotateX(-45deg);
}

.wrapper {
  height: 100%;
  display: grid;
}
.box {
  box-sizing: border-box;
  border: 1px solid black;
  background-color: rgb(245, 245, 245);
}
.circle1 {
  background-size: 100%;
  position: absolute;
  background-color: rgb(240, 84, 84);
  border-radius: 50%;
  transition: left 0.3s, right 0.3s, top 0.3s, bottom 0.3s;
  box-sizing: border-box;
}
.circle2 {
  position: absolute;
  background-color: hsl(0, 0%, 7%);
  border-radius: 50%;
  transition: left 0.3s, right 0.3s, top 0.3s, bottom 0.3s;
  box-sizing: border-box;

}
.blocked {
  background-color: transparent;
  border: 1px solid transparent;
}
.gate {
  background-color: rgb(28, 39, 54);
  box-sizing: border-box;
  border: 1px solid black;
}
.finishGame {
  position: absolute;
  top: 40%;
  left: 0;
  height: 100px;
  width: 100%;
  margin: auto;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 40px;
  background-color: rgb(255, 255, 255);
  opacity: .7;
  box-sizing: border-box;
  border-radius: 2px;
}
.finishTextButton {
  font-family: "Lato", sans-serif;
  margin: auto;
  height: 25px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 2px;
  transition: 0.5s;
}
.finishTextButton:hover {
  background-color: rgb(67, 82, 134);
}
button:active {
  background-color: rgb(54, 54, 54);
}
.playerWhoWalks {
   background: linear-gradient( 45deg, rgb(255, 255, 255),rgb(9, 24, 56));
  background-size: 300%;
  animation: gradient 1s infinite;
}
.IsBlocked{
  background: linear-gradient(60deg,red,rgb(255, 217, 0));
  background-size: 300%;
  animation: gradient 0.3s infinite;
}

@keyframes gradient {
  0% {
    background-position: left;
  }
  50%{
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
